.modal-wrap .modal-dialog{
    min-width: 655px;
    margin: 7.5rem auto;
  }
.modal-wrap .modal-content{
    width: 655px;
  }
.modal-wrap .modal-header{
    border-bottom: none;
  }
.modal-wrap .modal-footer{
    border-top: none;
    justify-content: flex-start;
}
@media (max-width: 992px){
  .modal-wrap .modal-footer{
    justify-content: flex-start;
  }
  .modal-wrap .modal-content {
    width: 100%;
  }
  .modal-wrap .modal-dialog {
    min-width: unset;
    max-width: unset;
    width: 100%;
    margin: 7.5rem auto;
  }
  .modal-content {
    border-radius: unset;
  }
  .modal-header {
    border-radius: unset;
  }
}
@media (max-width: 768px) {
  .modal-wrap .modal-dialog{
    min-width: 100%;
  }
  .modal-wrap .modal-content{
    width: 100%;
  }
}
@media (max-width: 576px) {
  .modal-footer {
    padding: 0 0.75rem;
  }
}