.my-tabs {
    top: -35.2px;
    position: absolute;
    right: 70px;
}
.tab-figure {
    width: 20px;
    height: 16px;
    display: inline-flex;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -4px;
}

.icon-sold {
    background: url(../../../../images/image-AllNFTPage/sold.svg) no-repeat left / contain;
    width: 24px;
    height: 24px;
}

.my-tabs .nav-link {
width: 60px;
height: 36px;
background: #FFFFFF;
border: 1px solid #E2D1FF;
box-sizing: border-box;
backdrop-filter: blur(30px);
border-radius: 10px 10px 0px 0px;
}

.profile-icon-shop{
    background: url(../../../../images/image-AllNFTPage/shop.svg) no-repeat center / contain;
    width: 24px;
    height: 24px;
}

.profile-icon-handshake{
    background: url(../../../../images/image-AllNFTPage/handshake.svg) no-repeat center / contain;
    width: 36px;
    height: 24px;
    background-position: bottom 0px right 3px;
}

.my-tabs .nav-link.active {
    color: #E2D1FF;
    background-color: #E2D1FF;
    border-color: #E2D1FF;
}

.my-tabs .nav-link:hover {
    border: 1px solid transparent;
    outline: none;
    color: #873DC1;
    background-color: #E2D1FF;
}

