.tab-icon{
    width: 20px;
    height: 16px;
    display: inline-flex;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -4px;
}

.profile-icon{
    background: url(../../../../images/image-AllNFTPage/sold.svg) no-repeat left / contain;
    width: 24px;
    height: 24px;
}

.nav-tabs .nav-link {
width: 60px;
height: 36px;
background: #FFFFFF;
border: 1px solid #E2D1FF;
box-sizing: border-box;
backdrop-filter: blur(30px);
border-radius: 10px 10px 0px 0px;
}

.profile-icon-shop{
    background: url(../../../../images/image-AllNFTPage/shop.svg) no-repeat center / contain;
    width: 24px;
    height: 24px;
}

.profile-icon-handshake{
    background: url(../../../../images/image-AllNFTPage/handshake.svg) no-repeat center / contain;
    width: 33px;
    height: 24px;
    background-position: bottom 0px right 3px;
}

#settings-tab .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #873DC1;
    border: 1px solid transparent;
    border-bottom: 4px solid rgba(135, 61, 193, 0.5);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #E2D1FF;
    background-color: #E2D1FF;
    border-color: #E2D1FF;
}

.nav {
    top: -35px;
    position: absolute;
    right: 70px;
}

.nav-link:hover {
    border: 1px solid transparent;
    outline: none;
    color: #873DC1;
    background-color: #E2D1FF;
}

.dropdown {
    width: 25%;
}

.dropdown-toggle {
    width: 100%;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #e6e6e6;
    height: 36px;
}