.swiper {
  width: 100%;
  height: 100%;
}
.swiper:hover{
    cursor: pointer;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.AboutSwiper2 {
  height: 340px;
  width: 100%;
}

.AboutSwiper {
  height: 140px;
  box-sizing: border-box;
  padding: 20px 0;
}

.AboutSwiper .swiper-slide {
  height: 100%;
  opacity: 0.6;
  border-radius: 20px;
}

.AboutSwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.AboutSwiper .swiper-slide img,
.AboutSwiper2 .swiper-slide img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.AboutSwiper2 .swiper-button-prev{
    left: 0;
    border-radius: 20px 0 0 20px;
}
.AboutSwiper2 .swiper-button-next{
    right: 0;
    border-radius: 0 20px 20px 0;
}
.AboutSwiper2 .swiper-button-prev,
.AboutSwiper2 .swiper-button-next{
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    top: 22px;
}
.AboutSwiper2 .swiper-button-prev:hover,
.AboutSwiper2 .swiper-button-next:hover{
    background: rgba(255, 255, 255, .3);
    
}
.AboutSwiper2 .swiper-button-prev::after {
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
}
.AboutSwiper2 .swiper-button-next::after {
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}
.AboutSwiper2 .swiper-button-prev::after,
.AboutSwiper2 .swiper-button-next::after{
    width: 20px;
    height: 20px;
}