.tab-icon{
    width: 20px;
    height: 16px;
    display: inline-flex;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -2px;
}
.mobile-tab-icon{
    margin: 0;
}
.profile-icon{
    background: url(../../../icons/set-profile.svg) no-repeat center / contain;
}
.notifications-icon{
    background:  url(../../../icons/set-notifications.svg) no-repeat center / contain;
}
.offers-icon{
    background: url(../../../icons/set-offers.svg) no-repeat center / contain;
}
.support-icon{
    background: url(../../../icons/set-support.svg) no-repeat center / contain;
}
.earnings-icon{
    background: url(../../../icons/set-earnings.svg) no-repeat center / contain;
}
